@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat & family= Montserrat+Alternates:ital,wght@0,600;1,400 & display=swap');

:root {
    --cor-primaria: #d9ddcd;    
    --cor-secundaria: #4c1b05;
    --cor-tercearia: #c6c085;
    --cor-hover: #272727;

    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 5px;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 10%;

}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    max-height: 60px;
    
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;   
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;    
    
}

.conteudo{
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.conteudo__corpo{
    display: flex;
    flex-direction: column;
}


.conteudo__corpo__imagem__logo{    
    max-width: 200px;
    }

.receitas{
    padding: 5% 10%;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.container{
    padding: 2%;
    
    
    
}

.col{
    width: 250px;
    margin: auto;
    
}

.conteudo__corpo__imagem__receitas{
    max-width: 200px;
}

.rodape{
    
    color: var(--cor-secundaria);
    background-color: var(--cor-tercearia);
    padding: 1rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

